/* GENERAL/RESET */
/* Box sizing rules */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    scroll-behavior: smooth;
}

body,
html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

input {
    all: unset;
}

button {
    all: unset;
    cursor: pointer;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

a {
    all: unset;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

/* END OF GENERAL/RESET */

/* UTILITY CLASSES */
.flex-center-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* WEBSITE */
/* Header Section */

/* hero */
.hero {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/gps-phone.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

/* form */
form {
    padding-top: 5em;
}

/* input */
.input-container {
    margin-bottom: 2.5em;
    padding-left: 2.5em;
}

.hero-label {
    color: white;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: .75em;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1.5px solid white;
    padding: .5em;
}

.hero-input {
    background-color: white;
    padding: .35em .5em;
    width: 250px;
    border-radius: 4px;
    border: 2px solid rgba(255, 255, 255, 0);
    margin-bottom: 1em;
}

.hero-input:focus {
    border: 2px solid rgb(0, 200, 255);
}

/* buttons */
.btn-container {
    margin-bottom: 1em;
    padding-left: 2.5em;
}

.btn-container p {
    color: white;
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1px;
}

.hero-btn {
    background-color: yellow;
    border-radius: 4px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    padding: .1em 0;
    width: 200px;
}

.hero-btn:hover {
    background-color: rgb(203, 203, 0);
}

.google-link {
    background-color: rgb(0, 200, 255);
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    padding: .1em 0;
    width: 200px;
}

.google-link:hover {
    background-color: rgb(39, 158, 191);
}

/* down arrow scroll to bottom */
.arrow-down-container {
    cursor: pointer;
    color: white;
    position: absolute;
    bottom: 0;
    margin-bottom: 1em;
    padding-left: 2.5em;
}

.arrow-down-container:hover {
    margin-bottom: 0;
    transition: ease-in-out 400ms;
}

.scroll-down-link span {
    font-size: 4.5rem;
    font-weight: 900;
}



/* End of Header Section */

/* Map Section */
.map-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

#map {
    min-height: 100vh;
}

.scroll-up-link {
    cursor: pointer;
    color: black;
    position: absolute;
    top: 0;
    z-index: 9999;
    align-self: center;
    margin-top: 1em;
    padding-left: 2.5em;
}

.scroll-up-link span {
    font-size: 4.5rem;
    font-weight: 900;
}

.scroll-up-link:hover {
    margin-top: 0;
    transition: ease-in-out 400ms;
}

.controls {
    background-color: white;
    width: 200px;
    height: 35px;
    padding-left: 1em;
    margin-top: 1em;
    border-radius: 4px;
    border: 2px solid rgba(255, 255, 255, 0);
}

.controls:focus,
.controls:active {
    border: 2px solid rgb(0, 200, 255);
}

/* MEDIA QUERIES */
/* fixes issues at 1440px width and below */
@media screen and (max-width: 1440px) {
    .input-container {
        padding-left: 0;
    }

    .btn-container {
        padding-left: 0;
    }

    .arrow-container {
        padding-left: 0;
    }

    .scroll-up-link {
        padding-left: 0;
    }
}

/* for mobile up to 915px width */
@media screen and (max-width: 915px) {
    form {
        padding: 0 1em;
    }

    .controls {
        width: 100px;
        padding-left: .5em;
    }

    .arrow-container {
        bottom: 40px;
    }

    .scroll-up-link {
        top: 40px;
    }
}

@media screen and (max-width: 375px) {
    .controls {
        width: 25px;
    }
}

/* for mobile up to 320px width */
@media screen and (max-width: 320px) {
    body {
        display: inline-block;
    }
}

/* for mobile with small height up to 630px width */
@media screen and (max-height: 630px) {
    .arrow-container {
        position: initial;
        bottom: initial;
    }
}

/* Javascript Classes */
.border-error {
    border: 2px solid red;
}